@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<EntityLayer.Concrete.Destination>
@{
    ViewData["Title"] = "ShowDestinations";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .pagination li {
  list-style: none; /* Hide the default markers */
}
</style>

<section class="tree-wrapper">
    <h1>Tours</h1>
</section>


 <section class="visit">
 <div class="bottom">
    @foreach (var item in Model)
    {
         <div class="card">
        <div class="content">
            <div>
                <h5><a href="/Destinations/ShowDestinationDetails/@item.DestinationID">@item.City</a></h5>
                     <div class="o-text">@item.DayNight</div>
            </div>
            <div class="description">
                @item.Description.Substring(0,item.Description.Substring(0,250).LastIndexOf("")) ...
            </div>
                <div class="money-wrapper">
                    <div class="start">Starting Price</div>
                    <div class="money">$ @item.Price</div>
                </div>
        </div>
        <div class="img-wrapper">
            <img src="@item.Image" alt="" style="height:500px">
        </div>
    </div>
    }    
</div>
   </section>


    <div class="pagination">

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("ShowDestinations", new { page }), new PagedListRenderOptions
        {
                
            PageClasses = new string[] { "page" }
        })
              
    </div>