@model List<Destination>
@{
    ViewData["Title"] = "ShowDestinations";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="tree-wrapper">
    <h1>Tur Rotalarımız</h1>
</section>


 <section class="visit">
 <div class="bottom">
    @foreach (var item in Model)
    {
         <div class="card">
        <div class="content">
            <div>
                <h5><a href="/Destinations/ShowDestinationDetails/@item.DestinationID">@item.City</a></h5>
                     <div class="o-text">@item.DayNight</div>
            </div>
            <div class="description">
                @item.Description
            </div>
                <div class="money-wrapper">
                    <div class="start">Başlangıç Fiyatı</div>
                    <div class="money">$ @item.Price</div>
                </div>
        </div>
        <div class="img-wrapper">
            <img src="@item.Image" alt="" style="height:500px">
        </div>
    </div>
    }    
</div>
   </section>

       <div class="pagination">
        <div class="page disable"><i class="fa-solid fa-angle-left"></i></div>
        <a class="page active" href="">1</a>
        <a class="page" href="">2</a>
        <a class="page" href="">3</a>
        <a class="page" href="">4</a>
        <div class="page disable">...</div>
        <a class="page" href="">15</a>
        <div class="page"><i class="fa-solid fa-chevron-right"></i></div>
        </div>