@model Destination
@{
    ViewData["Title"] = "Online Travel - Rota Detayları";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="tree-wrapper">
    <h1>Tour Details</h1>
</section>

 <section class="blogsingle">
                    <div class="top-content">
                        <h1>@Model.City</h1>
                        <div class="row-author">
                            <img src="~/traversal-agency-website-main/src/assets/images/micadmin.png" alt="" style="height:64px;width:64px">
                            <div class="texts">
                                <a href="#">Admin</a>
                                <span class="text">in</span>
                                <a href="#">Travel Online</a>
                                <div class="date-row">
                                    <div>@(((DateTime)Model.Date).ToString("dd-MMM-yyyy HH:mm"))</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <img class="img-1" src="@Model.CoverImage" alt="">
                        <div class="para-content">
                            <p>@Model.Details1</p>
                   
                            <div class="row">
                                <img class="img-2" src="@Model.Image" alt="">
                                <img class="img-2" src="@Model.Image2" alt="">
                            </div>
                            <h2>@Model.City</h2>
                            <p>@Model.Details2</p>
                           
                         
                            
                            <div class="tagsandshare">
                                <div class="tags">
                                    <div class="title">Tags:</div>
                                    <div class="tag-wrapper">
                                        <div class="tag">Duration: @Model.DayNight</div>
                                        <div class="tag">Price: @Model.Price$</div>
                                        <div class="tag">Capacity: @Model.Capacity</div>
                                        <div class="tag">Travel Online</div>
                                        <div class="tag">Reservation</div>
                                        <div class="tag">Tours</div>
                                    </div>
                                </div>
                                <div class="share">
                                    <div class="title">Share:</div>
                                    <div class="tag-wrapper">
                                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                                        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                                    </div>
                                </div>
                            </div>


                            @await Component.InvokeAsync("CommentsInShowDestDetails",new{id=ViewBag.Id})


                            @await Html.PartialAsync("~/Views/Comments/AddComment.cshtml",new{id=ViewBag.Id})
                        </div>
                    </div>
                </section>