@model Destination
@{
    ViewData["Title"] = "Online Travel - Rota Detayları";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="tree-wrapper">
    <h1>Tur Rota Detayları</h1>
</section>

 <section class="blogsingle">
                    <div class="top-content">
                        <h1>@Model.City</h1>
                    </div>
                    <div class="blog-content">
                        <img class="img-1" src="@Model.CoverImage" alt="">
                        <div class="para-content">
                            <p>@Model.Details1</p>
                   
                            <div class="row">
                                <img class="img-2" src="@Model.Image" alt="">
                                <img class="img-2" src="@Model.Image2" alt="">
                            </div>
                            <h2>2.Paragraf</h2>
                            <p>@Model.Details2</p>
                           
                         
                            
                            <div class="tagsandshare">
                                <div class="tags">
                                    <div class="title">Tags:</div>
                                    <div class="tag-wrapper">
                                        <div class="tag">Süre: @Model.DayNight</div>
                                        <div class="tag">Fiyat: @Model.Price₺</div>
                                        <div class="tag">Kapasite: @Model.Capacity</div>
                                        <div class="tag">Online Travel</div>
                                        <div class="tag">Rezervasyon</div>
                                        <div class="tag">Rotalar</div>
                                    </div>
                                </div>
                                <div class="share">
                                    <div class="title">Share:</div>
                                    <div class="tag-wrapper">
                                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                                        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                                    </div>
                                </div>
                            </div>


                            @await Component.InvokeAsync("CommentsInShowDestDetails",new{id=ViewBag.Id})


                            @await Html.PartialAsync("~/Views/Comments/AddComment.cshtml")
                        </div>
                    </div>
                </section>