@using EntityLayer.Concrete
@model List<Feature>

<section class="home-ex-section-0">
                    <div class="content">
                       
                        <div class="left-content">
                            @foreach (var item in Model)
            {
                if(item.IsBigImage == true)
                {
                      <div class="home-img-wrapper">
                                <img src="@item.Image" alt="">
                                <div class="text">@item.Name</div>
                                <div class="text-none">@item.Description₺</div>
                            </div>
                }
                
            }
                          
                        </div>
                        <div class="right-content">
                           
                                         <div class="row-imgs">
                                   @foreach (var item in Model)
                                    {
                                        @if(item.IsBigImage == false)
                                        {
                                            <div class="home-img-wrapper mini">
                                                <img src="@item.Image" alt="">
                                                <div class="text">@item.Name</div>
                                                <div class="text-none">@item.Description₺</div>
                                            </div>
                                        }
                                     
                                    }
                                        </div>
                           
                              
                              @*  <div class="home-img-wrapper mini">
                                    <img src="~/traversal-agency-website-main/src/assets/images/g9.jpg" alt="">
                                    <div class="text">3 Days, 4 Nights</div>
                                    <div class="text-none">From 1720$</div>
                                </div>
                            </div>
                            <div class="row-imgs">
                                <div class="home-img-wrapper mini">
                                    <img src="~/traversal-agency-website-main/src/assets/images/g7.jpg" alt="">
                                    <div class="text">3 Days, 4 Nights</div>
                                    <div class="text-none">From 1720$</div>
                                </div>
                                <div class="home-img-wrapper mini">
                                    <img src="~/traversal-agency-website-main/src/assets/images/g8.jpg" alt="">
                                    <div class="text">3 Days, 4 Nights</div>
                                    <div class="text-none">From 1720$</div>
                                </div>*@
                          
                        </div>
                    </div>
                </section>