@model RegisterViewModel
@{
    ViewData["Title"] = "Travel Online - Register";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

   <section class="tree-wrapper tree-action">
                    <h1>Register Here</h1>
                 
                </section>
                <section class="action">
                    <form id="form-action" asp-action="SignUp" asp-controller="Account" method="POST" autocomplete="off" autocapitalize="off" autocorrect="off"
                        spellcheck="false" novalidate>
                        <input type="text" asp-for="@Model.name" placeholder="Name" id="input-name">
                        <span asp-validation-for="@Model.name"></span>
                        <input type="text" asp-for="@Model.surname" placeholder="Surname" id="input-name">
                        <span asp-validation-for="@Model.surname"></span>
                        <input type="email" asp-for="@Model.email" placeholder="Email" id="input-email">
                        <span asp-validation-for="@Model.email"></span>
                        @*<input type="text" asp-for="@Model.username" placeholder="Username" id="input-name">
                        <span asp-validation-for="@Model.username"></span>*@
                        <input type="password" asp-for="@Model.password" placeholder="Password" id="input-password">
                        <span asp-validation-for="@Model.password"></span>
                        <input type="password" asp-for="@Model.passwordConfirm" placeholder="Password confirm" id="input-repassword">
                        <span asp-validation-for="@Model.passwordConfirm"></span>
                        <div class="row">
                            <label class="rememberme" for="rememberme">
                                <input type="checkbox" name="rememberme" id="rememberme">
                                <div class="slider-wrapper">
                                    <div class="slider"></div>
                                </div>
                                I HAVE READ AND AGREE TO THE <a href="">TERMS OF USE</a> AND <a href="#">PRIVACY POLICY</a>
                            </label>
                        </div>
                        <input type="submit" name="register" value="Register" class="btn-action" id="btn-action">
                        <div class="text4" asp-validation-summary="ModelOnly"></div>
                    </form>
                </section>

