@model List<Rezervation>
@{
    ViewData["Title"] = "Travel Online - User Reservations";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


    <div class="row">
        <div class="col-12">
        @if(TempData["NoRecord"] != null)
        {
            <h4 style="text-align:center">@TempData["NoRecord"]</h4>
            TempData["NoRecord"] = null;
        }
        else
        {
            <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Reservations</h6>
            </div>
       
            <div class="card-body px-0 pt-0 pb-2">
                <form asp-action="UserReservations" asp-area="Member" method="get">
                    <div class="m-3">
                        Search reservation by city: <input class="form-control" type="text" name="searchString" value="@ViewData["CurrentFilter"]">
                    <input type="submit" value="Search" class="btn btn-dark btn-sm mt-2">
                    </div>    
        </form>
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Reservation ID</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Number of people</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Destination</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-secondary opacity-7">Details</th>
                    </tr>
                  </thead>
                  <tbody>
                      @foreach (var item in Model)
                            {
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">@item.ReservationID</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="font-weight-bold mb-0">@item.PersonCount</p>
                              </td>
                               <td>
                                <p class="font-weight-bold mb-0">@item.Destination?.City</p>
                              </td>
                               <td class="align-middle text-center">
                                <span class="font-weight-bold">@DateTime.Parse(item.ReservastionDate.ToString()).ToString("dd-MM-yyyy")</span>
                              </td>
                              <td class="align-middle text-center text-sm">
                                    @if(item.Status == EnumRezervationStatus.OdemeBekleniyor)
                                    {
                                        <span class="badge badge-sm bg-gradient-warning">Waiting Payment</span>
                                    }
                                    else if(item.Status == EnumRezervationStatus.OnayBekleniyor)
                                    {
                                        <span class="badge badge-sm bg-gradient-info">Waiting Approval</span>
                                    }
                                    else if(item.Status == EnumRezervationStatus.Onaylandi)
                                    {
                                        <span class="badge badge-sm bg-gradient-success">Approved</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-sm bg-gradient-danger">Canceled</span>
                                    }
                              </td>
                             
                                <td class="align-middle">
                                    @if(item.Status != EnumRezervationStatus.IptalEdildi)
                                    {
                                            <a href="/Member/Rezervation/UpdateReservation/@item.ReservationID" class="btn btn-primary">
                                        Details
                                    </a>
                                    }
                                         
                                </td>
                            </tr>
                        }
                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        }
        
        </div>
      </div>

