@model List<Destination>

@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Tour Routes</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">City</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Duration</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Capacity</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                      <th class="text-secondary opacity-7">Details</th>
                    </tr>
                  </thead>
                  <tbody>
                      @foreach (var item in Model)
                            {
                                          <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">@item.City</h6>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <p class="font-weight-bold mb-0">@item.DayNight</p>
                              </td>
                              <td class="align-middle text-center text-sm">
                                    @if(item.Capacity > 10)
                                    {
                                        <span class="badge badge-sm bg-gradient-success text-dark">@item.Capacity</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-sm bg-gradient-danger">@item.Capacity</span>
                                    }
                              </td>
                              <td class="align-middle text-center">
                                <span class="font-weight-bold">@item.Price$</span>
                              </td>
                                <td class="align-middle">
                                    <a href="#" class="btn btn-primary">
                                        Details
                                    </a>
                                </td>
                            </tr>
                        }
                  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>